@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --default-color: #B2D7C0;
    --white: white;
    --silver: #CCC;
}

* {
    margin: unset;
    padding: unset;
}

body {
    background-color: var(--default-color);
}

.container {
    display: grid;
    grid-auto-rows: 600px;
    padding: 1rem 0rem;
}

.onboarding,
.timer {
    margin: 0.5rem auto;
    border: 2px solid var(--white);
    width: 255px;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 3rem;
    cursor: pointer;

}

/* large screen => 768px */

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .container {
        padding: unset;
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

/* onboarding container */
.onboarding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.onboarding h1 {
    font-family: "Raleway", 'Times New Roman';
    text-transform: uppercase;
    color: var(--white);
    font-size: 3.5rem;
    user-select: none;
    text-shadow: 2px 2px;
}

/* .pg-container,
.ac-container {
    border: 2px solid #ffb500;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    border-radius: 3rem;

} */

.timer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
}

.ac-container button {
    background-color: unset;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

.ac-container .btn-container {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 1rem;

}

.btn-container button {
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 3rem;
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid var(--white);
    font-family: "Crimson Text", sans-serif;
    transition: all 0.5ms ease-in-out;
}

.btn-container button:hover {
    border-color: var(--silver);
    box-shadow: unset;
}

.ac-container form {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.ac-container input {
    width: 85%;
    border: unset;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin-left: 15px;
    text-align: center;
}

.used-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 0.5rem;
    margin: 1rem;
}

.used-timers h2 {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    white-space: nowrap;
    color: var(--white);
}

.used-container ul {
    height: 50%;
    overflow-y: scroll;
    margin-top: 1rem;
}

.used-container ul::-webkit-scrollbar {
    display: none;
}

.reset {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.reset button {
    font-size: 1rem;
    font-weight: 100;
    font-family: "Crimson Text", sans-serif;
    white-space: nowrap;
    color: var(--white);
    text-transform: uppercase;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 3rem;
    border: 1.5px solid var(--default-color);
    transition: all 0.5ms ease-in-out;
}

.reset button:hover {
    border-color: var(--silver);
    box-shadow: unset;
}